<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Men's Health Blog<</title>
    <link rel="stylesheet" href="/static/images/css/style.css">

</head>
<body>
<h1>3 Beginner's Biceps Curl Mistakes to Avoid</h1>
<h2>Biceps Building Mistake  </h2>
<h3>1: Too Much Shoulder Involvement</h3>
<!--<img src="src/main/resources/static/images/biceps.png">-->
<img src="/images/biceps2.png" alt="Biceps-image">
<p>
    The temptation to shift the shoulders to help propel the movement increases with every rep during a set of biceps curls, especially when you increase load or begin to fatigue.
    The result: Less emphasis is put on your biceps.
    The Solution: A quick tweak to avoid this mistake is to focus on pinning your elbows to your sides and only moving at the elbow joint.
    This rule applies to any type of curl—barbells, dumbbells, cables, you name it—since the goal of the movement is to isolate the biceps muscle. You may not eliminate shoulder intervention with every single rep (you will eventually fall to fatigue), but keeping those elbows tight will allow your biceps to do the work for the overwhelming majority of reps.

</p>
<h3>2: Too Much Wrist Flexion</h3>
<p>
    To create the most challenge for our biceps, you'll want to keep your wrists in a nice, neutral position each time we curl.
    However, the moment wrist flexion enters the curl—when you bend the wrist to bring your hand in toward your body—two things happen that you don’t want: First, you'll use the wrist and forearm muscles to start the curl keeps the stress off our biceps. Second, flexing the wrists shortens the lever the biceps need to work with, making the curl easier and taking away some of the stimulus you want to build the pump.
   The Solution: Keep a neutral wrist position throughout the movement. The only curl that should happen should be at your elbow joint, not at your wrist.

</p>

<h3>3: Lazy Supination </h3>
<p>
    Our biceps actually have two functions: bending at the elbow, and Supination, or turning the palm upwards.
    The goal is for both functions to be performed efficiently with each rep, that you can really emphasize the muscle squeeze.

    The Solution: Make sure your palms are shifting to the ceiling early in each curl rep. If you’re not doing that, then chances are you’re not getting the most out of your curl.
</p>
<h4>Thank you for reading!</h4>

</body>
</html>