<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Men's Health Blog</title>
<!--    <link rel="stylesheet" href="/static/images/css/style.css">-->
<!--    <link rel="stylesheet" href="src/main/resources/static/images/css/style.css">-->
    <link rel="stylesheet" th:href="@{/css/style.css}"/>



</head>
<body>
<div class="blog">
    <h1>Stop Making These Beginner Mistakes When You Build Your Biceps</h1>
    <img src="/images/biceps1.png" alt="Biceps-image">


    <p>From the first moment most gym rats hoist a dumbbell, their most earnest hope is that sooner than later, they'll reach the point that a set of cannonball biceps will pop out of their T-shirt.
    <p>But most trainees quickly learn that growing a formidable set of guns is more of a journey than a quick trip, and they'll get to their end point sooner if they dial-in on proper technique when they take on dumbbell biceps curls. And the reality, according to Men's Health fitness director Ebenezer Samuel, C.S.C.S., is that for most lifters, the first foray into biceps curls is filled with a host of little mistakes—a combination of poor form and mechanics—that can sabotage early gains and keep them from the arm pump they chase.
    Thankfully, most of these problems are easy to address. Let’s fix some of the most common mistakes that may be derailing you biceps routine.</p>
    </p> <strong>Please Click <a th:href="@{/blog}">here</a> to see read the whole blog.</strong></p>

</div>

</body>
</html>